.main {
    width: 200px;
    border-left-width: 5px;
    border-left-style: solid; /* Add this line */
    background-color: purple;
    border-left-color: green;
    padding: 10px;
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}